.equ IOBASE,  0x00d00000
.equ LED7,  IOBASE+0x000002f | ボード搭載のLED用レジスタ
.equ LED6,  IOBASE+0x000002d | 使用法については付録 A.4.3.1

.global outbyte

.section .text
.even

outbyte:
	movem.l %d1-%d3, -(%sp)
outbyte_loop:
	move.l %sp, %d2  | data = char[1]
	add.l  #23, %d2
	move.l #2,%D0 /* PUTSTRING */
	move.l #0,    %d1        | ch = 0
	move.l #1,    %d3        | size = 1
	trap #0
	cmpi.l #1, %d0
	bne outbyte_loop
	move.b %d2, LED6
	movem.l (%sp)+, %d1-%d3
	rts
	

