.equ IOBASE,  0x00d00000
.equ LED7,  IOBASE+0x000002f | ボード搭載のLED用レジスタ
.equ LED6,  IOBASE+0x000002d | 使用法については付録 A.4.3.1

.global inbyte

.text
.even
	
inbyte:
	movem.l	%d0-%d3,-(%sp)
inbyte_do:	
	move.l	#1, %d0	/* GETSTRING呼び出し */
	move.l	#inbyte_buf, %d2	/* 一時保存領域に保存する */
	move.l	#1, %d3	/* 1文字だけ読み込む */
	trap	#0	/* 呼び出し */
	cmpi.l	#1, %d0	/* 結果確認 */
	bne	inbyte_do	/* 失敗した場合はリトライ */
	move.b	inbyte_buf, %d0
	move.b	%d0, LED7
	movem.l	(%sp)+, %d0-%d3
	rts

.section .bss
inbyte_buf:	ds.b 1	/* 一時保存領域 */
		.even
